<div class="partage_reseau_sociaux">
 			<a href="https://www.facebook.com/sharer/sharer.php?u=+encodeURIComponent('http://www.siteIndago.com'),
	 			 'facebook-share-dialog', 'width=600,height=337">
	 			 <img alt="" src="{{ asset('images/facebook.png') }}" id="facebook"
	 			 data-toggle="popover" 
	 			 data-placement="top"
 				 data-content="partager sur facebook">
	 		</a>
 			<a href="https://plus.google.com/share?url=+encodeURIComponent('http://www.siteIndago.com'),
 				'google-share-dialog','width=500,height=375">
 				<img alt="" src="{{ asset('images/google.png') }}" id="google"
 				data-toggle="popover" data-placement="top"
 				data-content="partager sur google+">
 			</a>
 			<a href="https://twitter.com/intent/tweet?url=+encodeURIComponent('http://www.siteIndago.com'),
 			 	'twitter-share-dialog','width=400,height=375">
 			 	<img alt="" src="{{ asset('images/twitter.png') }}" id="twitter"
 			 		data-toggle="popover" data-placement="top"
 					data-content="partager sur twitter">
 			 </a>
 			<a href="https://www.viadeo.com/?&url=+encodeURIComponent('http://www.siteIndago.com')">
 				<img alt="" src="{{ asset('images/viadeo.png') }}" id="viadeo"
 					data-toggle="popover" 
 					data-placement="top"
 					data-content="partager sur viadeo">
 			</a>
 			<a href="http://www.linkedin.com/shareArticle?mini=true&url=+encodeURIComponent('http://www.siteIndago.com')">
 				<img alt="" src="{{ asset('images/linkedin.png') }}"  id="linkedin"
 				data-toggle="popover" 
 				data-placement="top"
 				data-content="partager sur linkedIn">
 			</a>
 </div>


